<!DOCTYPE html>
<html>
  <head>
    <title>Edit account</title>
    <meta charset="UTF-8">
    <link href="<%= url('/css/users/edit.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="page">
    <form action="/users/<%=current_user.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <h1>Enter updated account details below:</h1>

    <br>

    <p>Email:<input type="text" name="email" value="<%=current_user.email%>"> </p>

    <input type="submit" name="Update" value="Update">
    </form>

    <br>
    <br>

    <%# Delete account form %>

    <form action="/users/<%=current_user.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">

    <p>Close your Sinatra Saver account?</p>
    
    <input type="submit" name="Close account" value="Close account">
    </form>
    </div>

     <div class="headers">
     <ul>
      <a href="/users/<%=current_user.id%>">Return to profile page</a>
    </ul>
    </div>

  </body>
</html>