<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Saver Goals</title>
     <meta charset="UTF-8">
    <link href="<%= url('/css/goals/goals.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
  <div class="page">
    <h1>Your current financial goals:</h1>

    <br>

    <% @goals.each.with_index(1) do |goal, i| %>
        <a href="/goals/<%=goal.id%>"><%="#{i}. #{goal.name}"%></a>
        <p><%="#{goal.goal_amount}"%></p>
        <p><%="#{goal.current_amount}"%></p>
   <% end %>
   </div>


   <div class="headers">
   <ul>
    <a href="/users/<%=@current_user.id%>">Return to profile page</a>
    </ul>
   </div>
  </body>
</html>