<!DOCTYPE html>
<html>
  <head>
    <title><%=@goal.name%></title>
    <meta charset="UTF-8">
    <link href="<%= url('/css/goals.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="page">
    <h1>Your goal: <%=@goal.name%></h1>

    <p>
    Goal target: <%="$#{@goal.goal_amount}"%>
    <br>
    Current amount saved: <%="$#{@goal.current_amount}"%>
    <br>
    Progress towards goal: <%="#{((@goal.current_amount / @goal.goal_amount) * 100).round(2)}%"%>
    </p>

    <%# Contribute to goal form %>

    <form action="/goals/<%=@goal.id%>" method="POST">
        <p>Contribute to this goal</p>

        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <input type="number" min="0.01" step="0.01" max="1000000" name="contribution">
        <input type="submit" name="Contribute" value="Contribute">
    </form>

    <%# Edit goal link %>

    <br>

    <a href="/goals/<%=@goal.id%>/edit">Edit this goal</a>

    <%# View transactions %>

    <p>
    You've made a total of <%=@goal.transactions.count%> contributions towards this goal
    <%# can use positive? / negative? methods later to show contribution vs withdrawal %>

    <ol>
    <% @goal.transactions.each do |transaction| %>
        <li><%= "$#{(transaction.amount)} on #{transaction.created_at}"%></li>
    <% end %>
    </ol>
    </p>
   </div>

   <div class="headers">
   <ul>
    <a href="/users/<%=@current_user.id%>">Return to profile page</a>
    <a href="/goals">Return to your list of goals</a>
    </ul>
   </div>

  </body>
</html>
